[user]
	name = Guilherme De Napoli
	email = guinaps@gmail.com

[diff]
	color = auto
#[core]
#	excludesfile = /Users/guilherme/.gitignore
[alias]
	br = branch
	co = checkout
	ci = commit
	st = status
	h = help
